*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

html {
    font-size: 15px;
}

body {
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

#layout {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 64rem; /* keep your desktop size as a max */
    height: auto;
    min-height: 100vh; /* full height on mobile */
    border-radius: 0.8rem;
}

#button_section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem;
}

.button {
  height: 5rem;
  width: 30rem;
  border-radius: 1.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
  background-color: rgb(190, 255, 251);
}


/*grid-area: row-start / column-start / row-end / column-end; */

/* ============ MOBILE VIEW ============ */
@media (max-width: 480px) {

  #layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    max-width: 100%;
    min-height: 100vh;
  }

  
}